.philosophy {
    padding: clamp(10px, 4.3vw, 80px) 0 clamp(20px , 6vw, 120px);
    background: #000;

    & .project_title{
        margin-bottom: 39px;
    }
}

.philosophy_text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(20px, 1.5vw, 30px);
    line-height: 125%;
    color: #fff;
    margin: 0;

    & + &{
        margin-top: 30px;
    }

    & a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}