.services {
    padding-top: clamp(45px, 7vw, 105px);
    padding-bottom: clamp(58px, 6vw ,95px);

    & .grid-row {
        // width: 100vw;
        padding-top: clamp(55px, 6vw , 107px);
        padding-bottom: 67px;
        gap: 60px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        
        @media (max-width:1650px) {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }
        @media (max-width:1440px) {
            margin-right: calc( 0px - var(--container-offset) ) ;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        }

        @include small-tablet{
            padding-bottom: 60px;
        }
    }

    & .flex-row{
        justify-content: center;
        gap: 30px;

        @include mobile{
            gap: 10px;
        }

        & .project_link.black{
            border-color: #000;
        }

        & .project_link{
            font-weight: 500;
        }
    }
}

.services_item_title {
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: #000;
    margin: 0;
}

.services_item_text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: #656565;
    margin: 0;
}

.services_item{
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .img-wrap{
        margin-bottom: 7px;

        & img{
            max-width: 40px;
            max-height: 35px;
        }
    }
}

.services{
    & .project_link{
        @include mobile{
            font-size: 16px;
        }
    }
}