<footer class="footer section">
    <div class="container">
        <div class="flex-row">
            <div class="flex-column">
                <a href="" class="footer_logo">
                    <img src="./assets/images/footer/Group300.svg" alt="">
                </a>
                <p class="footer_text">
                    Empowering Your Business with Cutting-Edge Web Solutions. Contact Us Today to Elevate Your Online Presence!
                </p>
            </div>
            <div class="flex-column">
                <a href="tel:+12125551234" class="footer_tel">+1 (212) 555-1234</a>
                <ul class="footer_social list-reset">
                    <li><a href=""><img src="./assets/images/footer/Facebook.svg" alt="Facebook" width="28" height="28" loading="lazy"></a></li>
                    <li><a href=""><img src="./assets/images/footer/Instagram.svg" alt="Instagram" width="28" height="28" loading="lazy"></a></li>
                    <li><a href=""><img src="./assets/images/footer/LinkedIn.svg" alt="LinkedIn" width="28" height="28" loading="lazy"></a></li>
                    <li><a href=""><img src="./assets/images/footer/Twitter.svg" alt="Twitter" width="28" height="28" loading="lazy"></a></li>
                </ul>
            </div>
        </div>

        <div class="grid-row">
            <ul class="list-reset footer_menu">
                <li class="menu_title"><a href="">THE COMPANY</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">THE PROCESS</a></li>
                <li><a href="">THE GUARANTEE</a></li>
                <li><a href="">Юридическая информация:</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Legal Disclaimer</a></li>
            </ul>
            <ul class="list-reset footer_menu">
                <li class="menu_title"><a href="">THE COMPANY</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">THE PROCESS</a></li>
                <li><a href="">THE GUARANTEE</a></li>
                <li><a href="">Юридическая информация:</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Legal Disclaimer</a></li>
            </ul>
            <ul class="list-reset footer_menu">
                <li class="menu_title"><a href="">THE COMPANY</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">THE PROCESS</a></li>
                <li><a href="">THE GUARANTEE</a></li>
                <li><a href="">Юридическая информация:</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Legal Disclaimer</a></li>
            </ul>
            <ul class="list-reset footer_menu">
                <li class="menu_title"><a href="">THE COMPANY</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">THE PROCESS</a></li>
                <li><a href="">THE GUARANTEE</a></li>
                <li><a href="">Юридическая информация:</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Legal Disclaimer</a></li>
            </ul>
        </div>
        <ul class="flex-row footer_copyright list-reset">
            <li><a href="">© 2024 empstateweb.com</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Legal Disclaimer</a></li>
        </ul>
    </div>
</footer>